#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

#define BASE 0
#define NAV  1
#define NUM  2
#define SYM  3
#define FN   4

// Position lists for HRM positional triggering.
// Positions 6, 19, 20, 21, 34, 35 are unpopulated 5-way / inner switches
// on this physical board and are bound to &none on every layer.
#define KEYS_LEFT  0 1 2 3 4 5 13 14 15 16 17 18 28 29 30 31 32 33
#define KEYS_RIGHT 7 8 9 10 11 12 22 23 24 25 26 27 36 37 38 39 40 41
#define THUMBS     42 43 44 45 46 47

/ {
    behaviors {
        // Home-row mod, left hand. Hold resolves only if the next key is
        // on the right hand or a thumb (kills same-hand rolling-alpha misfires).
        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <KEYS_RIGHT THUMBS>;
            hold-trigger-on-release;
        };

        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <KEYS_LEFT THUMBS>;
            hold-trigger-on-release;
        };

        // Layer-tap for thumbs. Looser than HRM since thumbs aren't part of typing rolls.
        ltq: layer_tap_quick {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            bindings = <&mo>, <&kp>;
        };
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };

    combos {
        compatible = "zmk,combos";
        // F + J tapped together within 40ms -> ESC. Only fires on BASE
        // (so HJKL on NAV still works), and is gated by 100ms prior idle
        // so it doesn't trip while typing words like "fjord".
        combo_esc_fj {
            timeout-ms = <40>;
            require-prior-idle-ms = <100>;
            key-positions = <17 23>;
            bindings = <&kp ESC>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "BASE";
            bindings = <
&caps_word &kp Q        &kp W        &kp E         &kp R         &kp T                                  &none                                  &kp Y         &kp U          &kp I          &kp O         &kp P             &kp BSPC
&kp LSHFT  &hml LGUI A  &hml LALT S  &hml LCTRL D  &hml LSHFT F  &kp G                  &none  &none  &none                                     &kp H         &hmr RSHFT J   &hmr LCTRL K   &hmr LALT L   &hmr LGUI SEMI    &kp SQT
&kp LCTRL  &kp Z        &kp X        &kp C         &kp V         &kp B         &none                                  &none                     &kp N         &kp M          &kp COMMA      &kp DOT       &kp FSLH          &kp BSLH
                                     &kp ESC       &ltq NAV TAB    &ltq FN RET                                                                  &ltq SYM SPACE &ltq NUM BSPC &kp DEL
            >;
            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        nav_layer {
            display-name = "NAV";
            bindings = <
&trans     &trans       &trans       &trans        &kp PSCRN     &kp LG(LS(T))                          &none                                  &trans        &kp HOME       &kp UP         &kp END       &kp PAGE_UP       &trans
&trans     &trans       &trans       &trans        &trans        &trans                 &none  &none  &none                                     &trans        &kp LEFT       &kp DOWN       &kp RIGHT     &kp PAGE_DOWN     &trans
&trans     &kp LC(Z)    &kp LC(X)    &kp LC(C)     &kp LC(V)     &kp LC(LS(Z)) &none                                  &none                     &trans        &kp LG(LEFT)   &kp LG(DOWN)   &kp LG(RIGHT) &kp LG(UP)        &trans
                                     &trans        &trans        &trans                                                                          &trans        &trans         &trans
            >;
            sensor-bindings = <&inc_dec_kp PAGE_UP PAGE_DOWN>;
        };

        num_layer {
            display-name = "NUM";
            bindings = <
&trans     &kp LBKT     &kp N7       &kp N8        &kp N9        &kp RBKT                               &none                                  &trans        &kp LG(L)      &trans         &trans        &trans            &trans
&trans     &kp N0       &kp N4       &kp N5        &kp N6        &kp EQUAL              &none  &none  &none                                     &kp LG(LS(LEFT)) &kp LG(LS(RIGHT)) &kp LG(TAB) &kp LG(D)     &trans            &trans
&trans     &kp DOT      &kp N1       &kp N2        &kp N3        &kp MINUS     &none                                  &none                     &kp LC(LG(LEFT)) &kp LC(LG(RIGHT)) &trans      &trans        &trans            &trans
                                     &trans        &trans        &trans                                                                          &trans        &trans         &trans
            >;
            sensor-bindings = <&inc_dec_kp LC(TAB) LC(LS(TAB))>;
        };

        sym_layer {
            display-name = "SYM";
            bindings = <
&kp TILDE  &kp EXCL     &kp AT       &kp HASH      &kp DLLR      &kp PRCNT                              &none                                  &kp CARET     &kp AMPS       &kp STAR       &kp PLUS      &kp MINUS         &trans
&trans     &kp PIPE     &kp LBKT     &kp LBRC      &kp LPAR      &kp LT                 &none  &none  &none                                     &kp UNDER     &kp EQUAL      &kp FSLH       &kp BSLH      &kp QMARK         &trans
&trans     &kp GRAVE    &kp RBKT     &kp RBRC      &kp RPAR      &kp GT        &none                                  &none                     &kp DQT       &trans         &trans         &trans        &trans            &trans
                                     &kp COLON     &trans        &kp SEMI                                                                        &trans        &trans         &trans
            >;
            sensor-bindings = <&inc_dec_kp C_BRIGHTNESS_INC C_BRIGHTNESS_DEC>;
        };

        fn_layer {
            display-name = "FN";
            bindings = <
&studio_unlock &kp F1   &kp F2       &kp F3        &kp F4        &kp F5                                 &none                                  &kp F6        &kp F7         &kp F8         &kp F9        &kp F10           &kp F11
&trans     &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4           &none  &none  &none                                     &kp C_PREV    &kp C_VOL_DN   &kp C_VOL_UP   &kp C_NEXT    &kp C_PP          &kp F12
&trans     &rgb_ug RGB_TOG &rgb_ug RGB_EFF &rgb_ug RGB_BRI &rgb_ug RGB_BRD &bt BT_CLR &none                                  &none              &trans        &kp C_MUTE     &trans         &trans        &bootloader       &sys_reset
                                     &trans        &trans        &trans                                                                          &trans        &trans         &trans
            >;
            sensor-bindings = <&rgb_encoder>;
        };
    };
};
